.fondo-header-principal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;
    z-index: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /*QUIERO SEPARAR HORIZONTALMENTE LOS ELEMENTOS*/
    gap: 0;
    background-color: #2e0455ff;
    height: 50px;
    padding: 0 10px;
}

.link {
    display: flex;
    /*LE ASIGNO UN PESO*/
    align-items: center;
    gap: 1em;
}

.bloque {
    display: flex;
    flex-direction: row;
    width: 33.33%;
    align-items: center;
    gap: 1em;
    padding: 0;
    transition: width 0.3s;
}

.bloque.izquierdo {
    width: 40%;
    justify-content: flex-start;
}

.bloque.central {
    width: 40%;
    justify-content: center;
    font-size: 1em;/*1 em ES IGUAL A 16 PX Y ES LA FUENTE POR DEFECTO EN SPAN Y P*/
    font-style: italic;
}

.bloque.derecho {
    width: 20%;
    justify-content: flex-end;
    font-size: 1em;
    font-weight: bold;
}


.texto-logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.texto-pagina-inicial {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Comic Sans MS', cursive;
    line-height: 1.1;
}

.salto-linea {
    display: none;
}

.boton-header {
    /* QUIERO CENTRAR EL TEXTO VERTICALMENTE */
    display: flex;
    align-items: center;
    justify-content: center;
    /*NO QUIERO QUE SEAN BLOCK LOS BOTONES*/
    border-radius: 5px;
    cursor: pointer;
    padding: 0 20px;
    height: 36px;
    line-height: 20px;
    font-size: 1em;
    color: white;
    font-weight: bold;
    font-style: normal;
    background-color: #6d07ccff;
    border: 1px solid white;
}

.texto-boton {
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

.icon{
    fill: red;
}



@media (max-width: 1024px) {
    .bloque.central {
        display: none;
    }

    .bloque.izquierdo {
        width: 80%;
    }
    .bloque.derecho {
        width: 25%;
    }


    .salto-linea {
        display: block
    }
}
@media (max-width: 480px) {
    .texto-logo {
        display: none;
    }
}

@media (max-width: 360px) {
    .bloque.central,
    .bloque.izquierdo {
        display: none;
    }

    .bloque.derecho {
        width: 100%;
    }


    .salto-linea {
        display: block
    }

    
}