.loading-container {
  background-color: #6206b8ff;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  color: white;
  text-align: center;
}

.loading-logo {
  width: 700px; /* ajústalo si quieres más grande */
  max-width: 95%;
  height: auto;
  user-select: none;
  pointer-events: none;
}

.loading-title {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}

.simbolo-carga {
  border: 20px solid rgba(255, 255, 255, 0.3);
  border-top: 20px solid white;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  max-width: 90%;
  max-height: 90%;
  animation: rotar 1s linear infinite;
}

@keyframes rotar {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


