.fondo {
    /*QUIERO CENTRARLO*/
    display: flex;
    flex-direction: column;/*PUEDE SER row*/
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 100vw;
    background-color: #6206b8ff; /* Light blue background */
}

.formulario {
    display: flex;
    flex-direction: column;
    /*PODRIA CENTRAR ELEMENTOS HORIZONTALMENTE*/
    gap: 10px;
}

.boton {
    display: inline-block;
    background-color: #6206b8ff;
}

.recuadro-general {
    /*QUIERO CENTRARLO*/
    background-color: #ffffffff; /* Accessible blue */
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;/*funciona tmb con flex-start y flex-end*/
    /*PADDING VERTICAL HORIZONTAL*/
    padding: 50px 100px;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
    border: 0px solid darkgray;
    color: black;
}

.recuadro-general h1 {
    margin: 0; /* elimina cualquier margen del navegador */
    margin-bottom: 20px; /* agrega un margen inferior para separar del contenido */
    text-align: center;
}
.recuadro-general span {
    color: #6206b8ff;
    cursor: pointer;
    text-decoration: underline;
}
.texto-enlace {
    cursor: pointer;
    text-decoration: underline;
}
.recuadro-secundario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
    background-color: #ffffffff;
    /*PADDING VERTICAL HORIZONTAL*/
    padding: 20px 50px;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
    border: 1px solid black;
}

.recuadro-secundario p {
    margin: 0; /* elimina cualquier margen del navegador */
    text-align: right;
}
.recuadro-secundario h3 {
    margin: 0; /* elimina cualquier margen del navegador */
}
.recuadro-secundario button {
    margin: 0; /* elimina cualquier margen del navegador */
}

input {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 16px;
    font-size: 18px;
    background-color: #f0f0f0;
    color: #333333;
}

.texto {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #000000;
}