body{
  background-color: blueviolet;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: green;
}




.card {
  background-color: aqua;
  padding: 2em;
}
.card input,
.card button {
  display: block;
  margin: 1em auto;
  padding: 0.5em 1em;
  font-size: 1.2em;
}

.read-the-docs {
  color: #888;
}

.titulo{
  color: purple;
}
.texto {
  color: yellowgreen;
}


