body{
  background-color: blueviolet;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Asegura que el contenedor abarque toda la pantalla vertical */
.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

/* Fuerza al contenido de la página a expandirse y empujar el footer hacia abajo */
.main-content {
  flex: 1;
}


.card {
  background-color: aqua;
  padding: 2em;
}
.card input,
.card button {
  display: block;
  margin: 1em auto;
  padding: 0.5em 1em;
  font-size: 1.2em;
}

.read-the-docs {
  color: #888;
}

.titulo{
  color: purple;
}
.texto {
  color: yellowgreen;
}


