.fondo-juegos {
  /*QUIERO CENTRARLO*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 50px);/*ESTO ERA LA SOLUCION*/
  margin-top: 50px;
  gap: 4em;
  width: 100vw;
  background-color: #6206b8ff;
}

.area-juego {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50em;
  width: 80em;
  border-radius: 20px;
  background-color: #ffffffff;
  color: #000000ff;
  border: 2px solid black;
}

.area-puntaje {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50em;
  width: 24em;
  border-radius: 20px;
  background-color: #ffffffff;
  color: #000000ff;
  border: 2px solid black;
}


.pdf-frame {
  width: 60em;
  height: 40em;
}

